*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    padding: 6rem 2rem;
    box-sizing: border-box;
}
.title
{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section{
    margin: 10px ;
    border: 3px solid black;
    padding: 2rem 1rem;
    background: lightslategray;
    color: aliceblue;
    position: relative;
}
.section-1{
    margin: 10px ;
    border: 3px solid black;
    padding: 2rem 1rem;
    background: lightslategray;
    color: aliceblue;
    position: relative;
}
.menu-item
{
    display: inline-block;
    border: 2px  solid black;
    line-height: 2rem;
    width: 120px;
    position: absolute;
    align-items: center;
    right: 0%;
    top: -1%;
    text-align: center;
}
.menu-text{
    font-size: 20px;
    margin-top: 25px;
}
.section-container
{
   display: flex;

}
@media (max-width:991px){
    
    
    .row{
        display: flex;
        flex-direction: column;
    }
} 
@media (max-width:767px){
    .row {
    display: flex;   
    flex-direction: column;
    }
    .title{
        text-align: center;
        font-size: 20pxpx;
    }
    .section-container{
        display: flex;
        flex-direction: column;
    }

}
